<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
 
    </div>
  </div>
</div>
 <br>
 <br>

 <div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">DEVICE DATA</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
  <tr>
    <th>DEVICE ID</th>
    <th>DEVICE</th>
    <th>STATUS</th>
    <th>DELETE</th>
   
    
  </tr>
  <tr   *ngFor="let products of products | paginate: { id: 'listing_pagination',
  itemsPerPage: 5,
  currentPage: page,
  totalItems: totalRecords }">
      <td>{{products.deviceid}}</td>
      <td>{{products.devicename}}</td>
      <td>{{products.status}}</td>

     <td> <button type="button" class="btn btn-default btn-sm"  (click)="onDelete(products)">
      <span class="fa fa-trash" aria-hidden="true"></span> 
    </button></td>
  </tr>
</table>
</div>
<pagination-controls class="a"  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>







<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <h3 class="card-title">ADD DEVICE</h3>
          <div>
            <div class="card-body">
              <form id="add">
                <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>DEVICE NAME</label>
                      <input type="text" class="form-control"  name="devicename" id="devicename" placeholder="device name" [(ngModel)]="devicename">
                    </div>
                  </div>
                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label>DEVICE STATUS</label>
                      <input type="text" class="form-control" name="devicestatus" id="devicestatus" placeholder="device status" [(ngModel)]="devicestatus" >
                    </div>
                  </div>

                
            
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit"  class="btn btn-primary btn-round" (click)="Add(devicename,devicestatus)">ADD DEVICE</button>
                  </div>
                </div>
              
              </form>
            </div>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>




<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="places-buttons">
          <h3 class="card-title">UPDATE DEVICE</h3>
          <div>
            <div class="card-body">
              <form id="update">
                <div class="row">
                  <div class="col-md-5 pr-1">
                    <div class="form-group">
                      <label>ID TO BE UPDATED</label>
                      <input type="text" class="form-control"  name="deviceid" id="deviceid"  placeholder="Id" [(ngModel)]="deviceid">
                    </div>
                  </div>
                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label>UPDATE NAME</label>
                      <input type="text" class="form-control" name="devicename" id="devicename" placeholder="name"  [(ngModel)]="devicename" >
                    </div>
                  </div>

                  <div class="col-md-3 px-1">
                    <div class="form-group">
                      <label>UPDATE STATUS</label>
                      <input type="text" class="form-control" placeholder="status"  name="devicestatus" id="devicestatus"  [(ngModel)]="devicestatus">
                    </div>
                  </div>
            
                </div>
                <div class="row">
                  <div class="update ml-auto mr-auto">
                    <button type="submit"  class="btn btn-primary btn-round" (click)="Update(deviceid,devicename,devicestatus)">UPDATE DEVICE</button>
                  </div>
                </div>
              
              </form>
            </div>
          </div>
      
        </div>
      </div>
    </div>
  </div>
</div>




