<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<br>
<br>
<div class="container-fluid mt--7">

  <!-- Table -->

  <div class="row">
    <div class="col">F
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">TELEMETRY DATA</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">TELEMETRY ID</th>
                <th scope="col">DEVICE ID</th>
                <th scope="col">ENQUEUED TIME</th>
                <th scope="col">TEMPERATURE</th>
                <th scope="col">HUMIDITY</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let teledata of teledata | paginate: { id: 'listing_pagination',
        itemsPerPage: 7,
        currentPage: page,
        totalItems: totalRecords }">

                <td>{{teledata.telemetryid}}</td>
                <td>{{teledata.deviceid}}</td>
                <td>{{teledata.enqueuedtime}}</td>
                <td>{{teledata.temperature}}</td>
                <td>{{teledata.humidity}}</td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
          <div>
            <pagination-controls class="a" id="listing_pagination" maxSize="5" directionLinks="true"
              (pageChange)="page = $event"></pagination-controls>
          </div>

        </div>