<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->

    </div>
  </div>
</div>
<br>
<br>

<div class="container">
  <table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>TelemetryId</th>
            <th>DeviceId</th>
            <th>EnqueuedTime</th>
            <th>temperature</th> 
            <th>humidity</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teledata of teledata | paginate: { id: 'listing_pagination',
        itemsPerPage: 10,
        currentPage: page,
        totalItems: totalRecords }">
         
            <td>{{teledata.telemetryid}}</td>
            <td>{{teledata.deviceid}}</td>
            <td>{{teledata.enqueuedtime}}</td>
            <td>{{teledata.temperature}}</td>
            <td>{{teledata.humidity}}</td>
        </tr>
    </tbody>
 </table>
 <br>
 <div>
  <pagination-controls class="a"  id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
 
  </div>






  